<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if (cart.products.length > 0) { %>
        <ul>
            <% cart.products.forEach(p => { %>
                <li>
                    <p><%= p.productId.title %> (<%= p.quantity %>) - $<%= p.productId.price %></p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" value="<%= p.productId._id %>" name="productId">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <div>
             Total: $<%= cart.totalPrice %>
        </div>

        <form action="/order" method="POST">
            <button class="btn" type="submit">Place Order</button>
        </form>
    <% } else { %>
        <h1>No Products in Cart!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>
